:root{
    --color-primario: rgba(30, 46, 67, 0.618);
    --color-secundario: rgba(46, 90, 46, 0.878);
    --color-tres: rgba(160, 89, 89, 0.659);
    --color-cuatro: rgba(147, 150, 68, 0.755);
    --color-cinco: #29449da8;
    --skills-bar-lenght: 0%;
}

p{
    margin: 8px;
}

h3{
    margin: 5px;
}

h4{
    margin: 5px;
}


hr{
    margin: 0px;
    border-width: 3px;
 }

 ul{
    list-style-type: none;
    margin: 0;
    padding-top: 0;
    padding-left: 2px;
    position: absolute;
    z-index: 2;
}

div {
    display: block;
    position: relative;		
    margin: 10px;
  }

li::before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    
    
}

.lista li:hover {
    background-color: rgba(240, 248, 255, 0.467);
}
.lista > li{
    float: left;
    
}

.lista li ul{
    display: none;
    position: absolute;
}

.lista li:hover > ul{
    display: block;

}

li#elementoPadre::before{
    background-color:var(--color-primario);
}

li#elemento1::before{
    background-color: var(--color-secundario);
}
li#elemento2::before{
    background-color: var(--color-tres);
}
li#elemento3::before{
    background-color: var(--color-cuatro);
}
li#elemento4::before{
    background-color: var(--color-cinco);
}

.hrColor1{
    border-color: var(--color-secundario);
}

.hrColor2{
    border-color: var(--color-tres);
}
.hrColor3{
    border-color: var(--color-cuatro);
}
.hrColor4{
    border-color: var(--color-cinco);
}

div.imagen{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    height: 373,33px;
}

div.foto {
    background-color: var(--color-primario);
    display: block;
    position: absolute;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    text-align: center;
    color: white;
    height: 100px;
    z-index: 1;
  }

.profile{
    width: 100%;
    /* padding: 5px; */
}

.skills{
    width: 100%;
}

  div.head{
    display: flex;
    margin: 0;
    align-items: center;
    height: 50px;
    width: 100%;
    color: white;
    
  }

div.img1{
    margin-top: 5px;
    
    display: flex;
    height: 50px;
    color: black;
    align-items: center;
    

}

.imgHeadColor1{
    display: flex;
    margin: 0;
    height: 100%;
    width: 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundario);
}

.imgHeadColor2{
    display: flex;
    margin: 0;
    height: 100%;
    width: 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-tres);
}

.imgHeadColor3{
    display: flex;
    margin: 0;
    height: 100%;
    width: 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-cuatro);
}

.imgHeadColor4{
    display: flex;
    margin: 0;
    height: 100%;
    width: 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-cinco);
}

.txtHead{
    background-color: var(--color-primario);
    display: flex;
    height: 50px;
    width: 100%;
    margin: 0px;
    align-items: center;
    justify-content: center;
}

.barras{
    /* cuando se utiliza padding y se da 2 valores el primero es en vertical | y el segundo en horizontal - */
    margin: 0px;
    padding: 2px 0;
    height: 250px;
}

.skillsItem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.skillsBarraColor1,
.skillsBarraColor1::after{
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    width: 280px;
    height: 15px;
    background-color: var(--color-primario);
    border-radius: 10px;
    overflow: hidden;

}

.skillsBarraColor1::after{
    content: "";
    position: absolute;
    left: -280px;
    background-color: var(--color-secundario);
    animation: skillsBarra 2s ease-in-out forwards;

}

.skillsBarraColor2,
.skillsBarraColor2::after{
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    width: 280px;
    height: 15px;
    background-color: var(--color-primario);
    border-radius: 10px;
    overflow: hidden;

}

.skillsBarraColor2::after{
    content: "";
    position: absolute;
    left: -280px;
    background-color: var(--color-tres);
    animation: skillsBarra 2s ease-in-out forwards;

}

.skillsBarraColor3,
.skillsBarraColor3::after{
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    width: 280px;
    height: 15px;
    background-color: var(--color-primario);
    border-radius: 10px;
    overflow: hidden;

}

.skillsBarraColor3::after{
    content: "";
    position: absolute;
    left: -280px;
    background-color: var(--color-cuatro);
    animation: skillsBarra 2s ease-in-out forwards;

}

.skillsBarraColor4,
.skillsBarraColor4::after{
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    width: 280px;
    height: 15px;
    background-color: var(--color-primario);
    border-radius: 10px;
    overflow: hidden;

}

.skillsBarraColor4::after{
    content: "";
    position: absolute;
    left: -280px;
    background-color: var(--color-cinco);
    animation: skillsBarra 2s ease-in-out forwards;

}

.barraLargo-1::after{
    --skills-bar-lenght: 10%;
}

.barraLargo-2::after{
    --skills-bar-lenght: 20%;
}

.barraLargo-3::after{
    --skills-bar-lenght: 30%;
}

.barraLargo-4::after{
    --skills-bar-lenght: 40%;
}

.barraLargo-5::after{
    --skills-bar-lenght: 50%;
}

.barraLargo-6::after{
    --skills-bar-lenght: 60%;
}

.barraLargo-7::after{
    --skills-bar-lenght: 70%;
}

.barraLargo-8::after{
    --skills-bar-lenght: 80%;
}

.barraLargo-9::after{
    --skills-bar-lenght: 90%;
}

.barraLargo-10::after{
    --skills-bar-lenght: 100%;
}

.cuerpo{
    display: flex;
    margin: 5px;
}
.cuerpo6{
    width: 100%;
    display: flex;
    margin: 5px;
}

.cuerpo1, .cuerpo2, .cuerpo3, .cuerpo4, .cuerpo5{
    margin: 5px;
}

.txt{
    width: 300px;
    display: flex;
    margin: 0;
    justify-content: flex-start;
}
.txt2{
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: flex-end;
}


.timeColor1{
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: flex-end;
    align-content: flex-end;
    color: var(--color-secundario);

}

.timeColor2{
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: flex-end;
    align-content: flex-end;
    color: var(--color-tres);

}

.timeColor3{
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: flex-end;
    align-content: flex-end;
    color: var(--color-cuatro);

}

.timeColor4{
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: flex-end;
    align-content: flex-end;
    color: var(--color-cinco);

}

.contenido{
   
    margin: 0px;
}

  #fotoMiller{
    position: relative;
    
}

.hojaVida{
    display: flex;
}

.parte1{
    width: 400px;
}

#imgContacto{
    display: flex;
    margin: 0;
    height: 100%;
    width: 60px;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.248);
}

#txtContacto{
    margin-left: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

@keyframes skillsBarra{
    to{
        transform: translateX(var(--skills-bar-lenght));
    }
}